<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <script th:replace="fragments/header :: headerElement"></script>
    <title>FreshVotes Homepage</title>
  </head>
  <body>
  <div th:replace="fragments/header :: header"></div>
    <div class="container">
      <div class="row" style="margin-top: 2em">
        <div class="col-8">
          <h1>Welcome to our website </h1>
          <p> technologies: spring boot - spring MVC - spring data JPA - spring security - SQL(mysql)- Thymeleaf - GIT:github- )</p>
        </div>
      </div>
    </div>
  </body>
</html>